Package: com.ryanelliott.smoothskip
Name: SmoothSkip
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Smooth the transition between skipped songs in Spotify
Maintainer: Ryan Elliott
Author: Ryan Elliott
Section: Tweaks
